*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: darkturquoise; 
    display: flex;
    justify-content: center;
    align-items: center ;
}
.container{
    background-color: rgba(239, 241, 241, 0.611);
    height: 250px;
    width: 300px;
    box-shadow: 0px 0px 10px rgb(179, 67, 67);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.header h2, .count h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

button{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px ;
    margin: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
    cursor: pointer;
    color: olive;
    background-color: aliceblue;
    border-radius: 5px;
    
}
#sub{
    background-color: chocolate;

}
#reset{
    background-color: lightblue;
}
#add{
    background-color: lightgreen;
}


