
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
.main{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg?auto=compress&cs=tinysrgb&w=600) center center;
    background-size: cover;
    
    
    border: 1px dotted green;

}
.overlay{
    margin: auto;
    margin-top: 250px;
    width: 50%;
    height: 50%;
    border-radius: 15px ;
    background-color: rgba(0, 0, 0 , 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);


   
}
 
.title{
    color: azure;
    text-align: center;
    
  
}

.col{
    display: flex;
    margin: 10px;
    width: 100%;
    
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    
}
input{
    display: block;
    height: 60px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;
    border-radius: 15px;
    text-align: center;
    color: black;
    font-size: larger;
}
.col div{
    width: 10%;
    text-align: justify;
    

}
  